### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [ ]:
# Code here
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
# Code here
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *

In [ ]:
# Code here
rows = 3
i = 0
i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

  *
 * *
* * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
# Code here
rows = 6
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [ ]:
# Code here
a = int(input("Enter the number"))
n = int(input("Enter the nth number"))
sum = 1
for i in range (2 , n+1):
 sum = sum+((a**i ) /i )

print(sum)

Enter the number10
Enter the nth number3
384.3333333333333

### `Problem 6` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [14]:
# Code here
number_of_terms = int(input('Enter the number of terms: '))
sum1=0
for i in range (1,number_of_terms+1):
    num=eval('2'*i)
    sum1+=num
    print(num, end='+')

print()
print("Sum of above series is :",sum1)

Enter the number of terms: 5
2+22+222+2222+22222+
Sum of above series is : 24690

### `Problem 7`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [23]:
# Code here
a = [1, 2, 3,4]

for i in range(4):
    for j in range(4):
        for k in range(4):
            for l in range (4):
            # Check if the indexes are not the same
              if i != j and j != k and k !=l  and i != l:
                print(a[i], a[j], a[k],a[l])

1 2 1 2
1 2 1 3
1 2 1 4
1 2 3 2
1 2 3 4
1 2 4 2
1 2 4 3
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 3
1 3 2 4
1 3 4 2
1 3 4 3
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 3
1 4 2 4
1 4 3 2
1 4 3 4
2 1 2 1
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 4
2 1 4 1
2 1 4 3
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 3
2 3 2 4
2 3 4 1
2 3 4 3
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 4
3 1 2 1
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 4
3 1 4 1
3 1 4 2
3 2 1 2
3 2 1 4
3 2 3 1
3 2 3 2
3 2 3 4
3 2 4 1
3 2 4 2
3 4 1 2
3 4 1 4
3 4 2 1
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 4
4 1 2 1
4 1 2 3
4 1 3 1
4 1 3 2
4 1 4 1
4 1 4 2
4 1 4 3
4 2 1 2
4 2 1 3
4 2 3 1
4 2 3 2
4 2 4 1
4 2 4 2
4 2 4 3
4 3 1 2
4 3 1 3
4 3 2 1
4 3 2 3
4 3 4 1
4 3 4 2
4 3 4 3