# Task : Class 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Machine" "Learning" "With Python and R" "Program"
"By" "Datasolution360"
```
**Output**:
```
Machine-Learning-With Python and R-Program-Conducted-By-Datasolution360
```

Concept- [Seperator and End]

In [6]:
# Write your code here
print("Machine","Learning","With Python and R","Program","Conducted","By","Datasolution360",sep='-' )

Machine-Learning-With Python and R-Program-Conducted-By-Datasolution360

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [7]:
# Write your code here
celsius=float(input('Enter the celsius value: '))
fahrenheit=(1.8*celsius)+32
print("tempereture in fahrenheit: ",fahrenheit)

Enter the celsius value: 36
tempereture in fahrenheit:  96.8

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [16]:
# Write your code here
numb_1=int(input('Enter your first number: '))
numb_2=int(input('Enter your second number: '))
print("Before swapping your numbers: ",numb_1,numb_2)
numb_1,numb_2=numb_2,numb_1
print("After swapping your numbers: ",numb_1,numb_2)

Enter your first number: 5
Enter your second number: 4
Before swapping your numbers:  5 4
After swapping your numbers:  4 5

3### Q4:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [24]:
# Write your code here
principal=float(input('Enter your principal value: '))
rate_of_interest=float(input('Enter your rate of interest: '))
time=float(input('Enter your period of time: '))
interest=principal*rate_of_interest*time/100
#print(interest)

print("Total interest after {} years is : {}.".format(time,interest))

Enter your principal value: 1000
Enter your rate of interest: 10
Enter your period of time: 10
Total interest after 10.0 years is : 1000.0.

### Q5:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [41]:
# Write your code here


heads = int(input('Enter the total number of heads:'))
legs = int(input('Enter the total number of legs:'))
if legs % 2 !=0 or heads ==0 or heads > legs:
   print('No solution')
else:
   r = int((legs + (-2*heads))/2)
   c = int(heads - r)
   print('number of chikens is : {} and number of dogs is : {}'.format(c,r))

Enter the total number of heads:10
Enter the total number of legs:38
number of chikens is : 1 and number of dogs is : 9

### Q6:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [35]:
# Write your code here
number=int(input('Enter your number : '))
sum_of_sqquare=number*(number+1)*(2*number+1)/6
print("Sum of square of first {} natural number is {} :".format(number,sum_of_sqquare))

Enter your number : 4
Sum of square of first 4 natural number is 30.0 :

### Q7:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [37]:
# Write your code here
numb_1=int(input('Enter the first term : '))
numb_2=int(input('Enter the second term : ' ))
n=int(input('Enter the value of N :'))
d=numb_2-numb_1
a= numb_1+((n-1))*d
print("The {}th term of the Arithmetic Series is : {}.".format(n,a))

Enter the first term : 6
Enter the second term : 9
Enter the value of N :10
The 10th term of the Arithmetic Series is : 33.

### Q8:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [39]:
# Write your code here
a1=int(input('Enter the numerator of first number : '))
a2=int(input('ENter the denomuretaor of the first number : '))
b1=int(input('Enter the numerator of second number : '))
b2=int(input('ENter the denomuretaor of the second number : '))
sum=(a1/a2)+(b1/b2)
sum=round(sum,2)
print("Sum of the fraction is : {}".format(sum))

Enter the numerator of first number : 5
ENter the denomuretaor of the first number : 6
Enter the numerator of second number : 3
ENter the denomuretaor of the second number : 2
Sum of the fraction is : 2.33

### Q9:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [43]:
# Write your code here
h1=float(input('Emter the height of the milk tank (cm): '))
l=float(input('Emter the lenght of the milk tank (cm): '))
b=float(input('Emter the breadth of the milk tank (cm): '))
h2=float(input('Emter the height of the glass (cm): '))
r=float(input('Emter the redius of the glass (cm): '))
v_milk=h1*l*b
v_glass=(22/7)*(r**2)*h2
number_of_glass=int(v_milk/v_glass)
print("Number of glasses of milk can be obtained : {}".format(number_of_glass))

Emter the height of the milk tank (cm): 20
Emter the lenght of the milk tank (cm): 20
Emter the breadth of the milk tank (cm): 20
Emter the height of the glass (cm): 3
Emter the redius of the glass (cm): 1
Number of glasses of milk can be obtained : 848