### `Problem 1`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cost=int(input('Enter the cost of the product: '))
sell=int(input('Enter the selling price of the product: '))
if cost>sell:
  loss=cost-sell
  print(f"It is a loss with {loss} taka")
else:
  profit=sell-cost
  print(f"It is a profit with {profit} taka ")

Enter the cost of the product: 40
Enter the selling price of the product: 50
It is a profit with 10 taka

### `Problem 2`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
print("1. cm to ft ")
print("2. km to miles ")
print("3. USD to INR ")
print("4. exit")
choice=int(input('Enter your choice (1/2/3/4) :'))
if choice == 1:
  cm=float(input("Enter the cm :"))
  ft=cm*0.033
  print(f"{cm}cm = {ft}ft")
elif choice == 2:
  km=float(input('Enter the km: '))
  miles=km*0.62
  print(f"{km} km = {miles} miles")
elif choice == 3:
  USD=float(input('Enter the USD: '))
  INR=USD*85
  print(f"{USD} USD = {INR} INR")
else:
  print("you choice to exit")

1. cm to ft
2. km to miles
3. USD to INR
4. exit
Enter your choice (1/2/3/4) :4
you choice to exit

\### `Problem 3` -  Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
# when nth term is fixed like 10th time
n=10
a=0
b=1
next=a
count=1
while count<=n:
  print(next, end=" ")
  count +=1
  a=b
  b=next
  next=a+b
print()

0 1 1 2 3 5 8 13 21 34

In [ ]:
#Display Fibonacci series up to nth term (dynamic)
nterms=int(input("Enter the terms of fibonacci series : "))
#first two terms
a=0
b=1
next=a
count=1
if nterms<=0:
  print("please enter a positive intiger : ")
elif nterms == 1:
  print(f"fibonacchi series is {a} ")
else:
  while count< nterms:
    print(next, end=" ")
    count +=1
    a=b
    b=next
    next= a+b

print()

Enter the terms of fibonacci series : 10
0 1 1 2 3 5 8 13 21

### `Problem 4` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
numb=int(input('Enter the number : '))
factorial =1
if numb < 0:
  print("Sorry! factorial does not exit for negative numbers ")
elif numb == 1:
  print("the factorial of zero is 1")
else:
  for i in range(1, numb+1):
    factorial = factorial*i
  print(f"factorial of {numb} is {factorial}")

Enter the number : 4
factorial of 4 is 24

### `Problem 5` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
numb=int(input('Enter the number :'))
rev_num = int(str(numb)[::-1])

print("given number: ",numb)
print("reverse number: ", rev_num)

Enter the number :4569
given number:  4569
reverse number:  9654

### `Problem 6`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [16]:
# Write code here
N = int(input("Enter a number: "))

sum = 0
i = 1

while i <= N:
 if i % 5 == 0:
  i += 1
  continue

 sum += i

 if sum > 300:
  break

 i += 1

print("Final result:", sum)

Enter a number: 30
Final result: 303

0### `Problem 7`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [20]:
# Write code here

print("Input some integers to calculate their sum and average. Input 0 to exit.")

# Initialize variables for count, sum, and the first number to 1
count = 0
sum = 0.0
number = 1

# Iterate until the user inputs 0
while number != 0:
    # Prompt the user to input a number and convert it to an integer
    number = int(input(""))

    # Add the entered number to the sum
    sum = sum + number

    # Increment the count of entered numbers
    count += 1

# Check if no numbers were entered
if count == 0:
    print("Input some numbers")
else:
    # Calculate and display the average and sum of the entered numbers
    print("Average of the above numbers is:", sum / (count-1))
    print("sum of the above numbers is :",sum)

Input some integers to calculate their sum and average. Input 0 to exit.
7
8
9
10
0
Average of the above numbers is: 8.5
sum of the above numbers is : 34.0

### `Problem 8`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [26]:
# Write code here
num = [i for i in range(2000, 3201) if (i % 7 == 0) and (i % 5 != 0)]
print(num)


#for i in range(2000,3200):
#  if (i % 7 ==0) and (i%5!=0):
#    print(i, end=',')

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

### `Problem 9`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [25]:
# Write code here
values=[]
for x in range(1000,3000):
    s=str(x)
    if (int(s[0]) %2 == 0) and (int(s[1]) %2 == 0) and (int(s[2]) %2 == 0) and (int(s[3]) %2 == 0):
        values.append(s)
print ("-".join(values))

2000-2002-2004-2006-2008-2020-2022-2024-2026-2028-2040-2042-2044-2046-2048-2060-2062-2064-2066-2068-2080-2082-2084-2086-2088-2200-2202-2204-2206-2208-2220-2222-2224-2226-2228-2240-2242-2244-2246-2248-2260-2262-2264-2266-2268-2280-2282-2284-2286-2288-2400-2402-2404-2406-2408-2420-2422-2424-2426-2428-2440-2442-2444-2446-2448-2460-2462-2464-2466-2468-2480-2482-2484-2486-2488-2600-2602-2604-2606-2608-2620-2622-2624-2626-2628-2640-2642-2644-2646-2648-2660-2662-2664-2666-2668-2680-2682-2684-2686-2688-2800-2802-2804-2806-2808-2820-2822-2824-2826-2828-2840-2842-2844-2846-2848-2860-2862-2864-2866-2868-2880-2882-2884-2886-2888

### `Problem 10`:Write a program to print whether a given number is a prime number or not

In [23]:
# Write code here
num = int(input('Enter the number : '))
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
    break
if flag == 1:
  print(f" {num} is not a prime number")
else:
  print(f"{num} is a prime number")

Enter the number : 5
5 is a prime number

In [30]:
for i in range(2000,3200):
  if (i % 7 ==0) and (i%5!=0):
    print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,